footer{
background-color: ghostwhite;
}

nav{
    background-color: ghostwhite;
}

#personal{
    text-align: center;
}

#educacion{
    text-align: center;
}

#experiencia{
    text-align: center;
}

#portafolio{
    text-align: center;
}

.personal{
    text-decoration: none;
    list-style: none;
}